<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kialertslackconvert.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5d4ca12-e670-4255-84a4-78223ece667a/resourceGroups/KIStudy/providers/Microsoft.Web/sites/kialertslackconvert</ResourceId>
    <UserName>$kialertslackconvert</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://kialertslackconvert.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>